# Librairies fondamentales
numpy
pandas
matplotlib
seaborn
scikit-learn
yfinance
yahooquery
pprintpp
streamlit
watchdog

# Deep Learning
tensorflow
torch
keras

# Optimisation et finance
cvxpy
backtrader
QuantStats

# Cloud & utils (AWS / QuantConnect contextuels)
boto3
quantconnect

# Dev & notebooks
notebook
python-dotenv
